{exp:store:orders order_hash="{segment_3}"}

{if no_orders}
{redirect="404"}
{/if}

{exp:giprint_pdf}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Договор</title>

    <style>
        body {font: 10px "DejaVu Sans", Arial, sans-serif;}

        h1, h2 {font-size: 10px; text-align: center;}

        p {text-align: justify;}
        table {width:100%;}

        .page-break {page-break-after: always;}


        #header,
        #footer {
            position: fixed;
            left: 0;
            right: 0;
            color: #aaa;
            font-size: 0.9em;
        }

        #header {
            color: #17365d;
            top: -.8cm;
            text-align: center;
        }

        #footer {
            bottom: 0;
            text-align: right;
        }

        .page-number:before {
            content: counter(page) ;
        }
    </style>


</head>
<body>

<div id="header">
    Договор оказания полиграфических услуг «ЦЕНТРАЛЬНОЙ ТИПОГРАФИИ»
</div>

<div id="footer">
    стр. <span class="page-number"></span> из <span class="total-pages">2 <!--Да пошло всё нахер --></span>
</div>

<h1>
    Договор № {order_id}<br>
    оказания полиграфических услуг «Центральной типографией».
</h1>

<p>
    г. Москва, {exp:giprint_multireplace pattern="Январь,Февраль,Март,Апрель,Май,Июнь,Июль,Август,Сентябрь,Октябрь,Ноябрь,Декабрь" replace="января,февраля,марта,апреля,мая,июня,июля,августа,сентября,октября,ноября,декабря" string='{order_date format="%j %F %Y"}'}
</p>

<p><strong>{billing_company}</strong>, {if billing_customer_type == 'individual'}именуемый{if:else}именуемое{/if} в дальнейшем <strong>Заказчик</strong>, {if billing_customer_type != 'individual'} в лице {billing_name},
    действующего на основании устава с одной стороны,{/if} и</p>

<p><strong>ООО «Центральная типография»</strong>, именуемое в дальнейшем <strong>Исполнитель</strong>, в лице
    Генерального директора Кобыльского Дмитрия Александровича, действующего на основании Устава, с другой стороны, в
    дальнейшем при одновременном упоминании именуемые Стороны, заключили настоящий договор о нижеследующем:</p>

<h2>1. Предмет договора.</h2>

<p>1.1. В соответствии с настоящим договором Исполнитель обязуется за вознаграждение оказать Заказчику следующие
    услуги: изготовление полиграфической продукции.</p>
individual
<p>1.2. Заказчик обязуется оплатить и принять услуги Исполнителя в порядке, установленном Договором.</p>

<h2>2. Исполнение договора.</h2>

<p>2.1. Заказчик при заключении Договора передает Исполнителю все исходные данные, необходимые для надлежащего оказания
    услуг. При необходимости Заказчик в срок не более двух рабочих дней согласовывает переданные Исполнителем материалы
    (эскизы, дизайн-макеты и пр.)</p>

<p>2.2. Исполнитель оказывает услуги в сроки, установленные Договором. Исполнитель вправе оказывать услуги с
    привлечением третьих лиц.</p>

<p>2.3. Заказчик принимает услуги, оказанные Исполнителем, и подписывает акт сдачи-приемки оказанных услуг по месту
    нахождения Исполнителя в течение 1 (одного) рабочего дня с момента уведомления Исполнителем об окончании оказания
    услуг. С момента подписания акта сдачи-приемки услуги считаются оказанными надлежащим образом.</p>

<p>2.4. Претензии по утвержденным макетам не принимаются (независимо от выявленных в них позднее опечаток,
    орфографических и синтаксических ошибок; а также выявленных неточностей в макете). Перепечатка тиража после
    Утверждения макета производится за счет Заказчика.</p>

<p>2.5 Стороны признают юридическую силу за электронными письмами - дoкyмeнтaми, направленными по электронной почте
    (e-mail), и признают их равнозначными дoкyмeнтaм на бумажных носителях, подписанным собственноручной подписью, т.к.
    только сами Стороны и уполномоченные ими лица имеют доступ к соответствующим адресам электронной почты, указанным в
    Договоре в реквизитах Сторон и являющимся электронной подписью соответствующей Стороны. Доступ к электронной почте
    каждая Сторона осуществляет по паролю и обязуется сохранять его конфиденциальность.</p>


<h2>3. Стоимость услуг. Срок оказания услуг.</h2>

<p>3.1. Стоимость услуг Исполнителя формируется на основании выставленного счета согласно заявке Заказчика.</p>

<p>3.2. Заказчик оплачивает услуги Исполнителя авансовым платежом 100% стоимости услуг, в течение 3 (трех) рабочих дней
    со дня выставления счета Исполнителя.</p>

<p>3.3. Исполнитель приступает к оказанию услуг в день поступления денежных средств в размере стоимости услуг,
    указанной в п. 3.1. Договора на расчетный счет Исполнителя. Срок оказания услуг составляет 6 рабочих дней, с момента
    согласования дизайна макета.</p>

<p>3.4. В случае обращения после подписания Договора Заказчика к Исполнителю с просьбой оказания дополнительных услуг,
    либо изменения параметров заказанных услуг, Стороны подписывают дополнительное соглашение к Договору с указанием
    новых параметров и новой стоимости услуг.</p>

<h2>4. Заключительные положения.</h2>

<p>4.1. Настоящий договор вступает в силу с момента подписания. Настоящий договор заключен без ограничения срока
    действия.</p>

<p>4.2. Настоящий договор составлен в двух экземплярах, имеющих равную юридическую силу, по одному для каждой из
    Сторон.</p>

<p class="page-break">4.3. Все изменения и дополнения к настоящему договору должны быть совершены Сторонами в письменной
    форме и подписаны уполномоченными представителями Сторон.</p>

<h2>5. Реквизиты и подписи сторон.</h2>

<table>
    <tr>
        <td>
            <strong>
                Исполнитель:<br>
                ООО «Центральная типография»
            </strong>
            <br><br>

            123001  г. Москва<br>
             Переулок Красносельский 1-й, д. 3, помещение 1, оф. 79,<br>
            ИНН 7708254076 / КПП 770801001<br>
            ОАО «АЛЬФА-БАНК»<br>
            р/с  40702810201400005360<br>
            к/с  30101810200000000593<br>
            БИК 044525593
        </td>
        <td style="vertical-align: top;">
            <strong>
                Заказчик:<br>
                {billing_company}
            </strong>
            <br><br>

            {if billing_customer_type == 'individual'}
                E-mail {order_email}<br>
                Телефон: {billing_phone}
            {if:else}
                {billing_address1}<br>
                {billing_address2},<br>
                ИНН {billing_inn} / КПП {billing_kpp}<br>
                {billing_bank}<br>
                р/с {billing_rs}<br>
                к/с {billing_ks}<br>
                БИК {billing_bik}
            {/if}
        </td>
    </tr>
    <tr>
        <td>
            <div style="width: 200px; border-top: 1px solid black;  margin-top: 30px;">
                Кобыльский Д. А.
            </div>
        </td>
        <td>
            <div style="width: 200px; border-top: 1px solid black;  margin-top: 30px;">
                {billing_name}
            </div>
        </td>
    </tr>
</table>

</body>
</html>
{/exp:giprint_pdf}
{/exp:store:orders}
