<table class="features-table">
	<tbody>
		<tr height="35">
			<td class="grey" rowspan="2">Формат, / тираж, шт.</td>
			<td class="grey" colspan="4">Цена за единицу</td>
		</tr>
		<tr height="34">
			<td class="grey">1 шт</td>
			<td class="grey">10 шт</td>
			<td class="grey">50 шт</td>
			<td class="grey">100 шт</td>
		</tr>
		<tr>
			<td class="grey">ПВХ<br />(ПВХ 5 мм., печать 4+0, ножка, 1,7х0,6 м.)</td>
			<td class="grey1">3&nbsp;600,00 руб.</td>
			<td class="grey1">2&nbsp;750,00 руб.</td>
			<td class="grey1">2&nbsp;300,00 руб.</td>
			<td class="grey1">2100&nbsp;руб.</td>
		</tr>
		<tr>
			<td class="grey">Пенокартон<br />(пенокартон 5 мм., печать 4+0, ножка, 1,7х0,6м.)</td>
			<td class="grey1">3200&nbsp;руб.</td>
			<td class="grey1">2560&nbsp;руб.</td>
			<td class="grey1">1945&nbsp;руб.</td>
			<td class="grey1">1860&nbsp;руб.</td>
		</tr>
	</tbody>
</table>
<!-- BACKUP
<table class="features-table">
	<thead>
		<tr>
			<td class="grey">
				Кол-во, штук</td>
			<td class="grey">
				ПВХ<br />
				(ПВХ 5 мм., печать 4+0, ножка, 1,7х0,6 м.)<br />
				Цена* за штуку</td>
			<td class="grey">
				Пенокартон<br />
				(пенокартон 5 мм., печать 4+0, ножка, 1,7х0,6м.)<br />
				Цена* за штуку</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="grey">
				1 шт.</td>
			<td class="grey1">
				3&nbsp;600,00 руб.</td>
			<td class="grey1">
				3200&nbsp;руб.</td>
		</tr>
		<tr>
			<td class="grey">
				10&nbsp;шт.</td>
			<td class="grey1">
				2&nbsp;750,00 руб.</td>
			<td class="grey1">
				2560&nbsp;руб.</td>
		</tr>
		<tr>
			<td class="grey">
				50&nbsp;шт.</td>
			<td class="grey1">
				2&nbsp;300,00 руб.</td>
			<td class="grey1">
				1945&nbsp;руб.</td>
		</tr>
		<tr>
			<td class="grey">
				100&nbsp;шт.</td>
			<td class="grey1">
				2100&nbsp;руб.</td>
			<td class="grey1">
				1860&nbsp;руб.</td>
		</tr>
	</tbody>
</table>
-->
