<table class="features-table" id="tovar_table" style="width: 600px;" width="304">
	<tbody>
		<!--<tr height="20">
			<td class="grey" colspan="4" style="height: 20px; width: 540px; text-align: center;">Шелкография, цена за единицу, руб.</td>
		</tr>-->
		<tr height="35">
			<td class="grey" rowspan="2">Формат, / тираж, шт.</td>
			<td class="grey" colspan="3">Цена за единицу</td>
		</tr>
		<tr height="34">
			<td class="grey">100 шт</td>
			<td class="grey">200 шт</td>
			<td class="grey">500 шт</td>
		</tr>
		<tr>
			<td class="grey">1+0</td>
			<td class="grey1">57,20 руб.</td>
			<td class="grey1">31,53 руб.</td>
			<td class="grey1">24,70 руб.</td>
		</tr>
		<tr>
			<td class="grey">2+0</td>
			<td class="grey1">74,10 руб.</td>
			<td class="grey1">42,25 руб.</td>
			<td class="grey1">32,89 руб.</td>
		</tr>
		<tr>
			<td class="grey">1+1</td>
			<td class="grey1">74,10 руб.</td>
			<td class="grey1">42,25 руб.</td>
			<td class="grey1">32,89 руб.</td>
		</tr>
		<tr height="35">
			<td class="grey">1000 шт.</td>
			<td class="grey" colspan="3" style="text-align: center;">;<strong>Звоните!!!</strong></td>
		</tr>
	</tbody>
</table>

<!-- BACKUP
<table class="features-table" id="tovar_table" style="width: 600px;" width="304">
	<colgroup>
		<col />
		<col />
		<col />
		<col />
	</colgroup>
	<tbody>
		<tr height="20">
			<td class="grey" colspan="4" style="height: 20px; width: 540px; text-align: center;">
				Шелкография, цена за единицу, руб.</td>
		</tr>
		<tr height="20">
			<td class="grey">
				Количество, шт.</td>
			<td class="grey">
				1+0</td>
			<td class="grey">
				2+0</td>
			<td class="grey">
				1+1</td>
		</tr>
		<tr height="20">
			<td class="grey">
				100</td>
			<td class="grey1">
				57,20 руб.</td>
			<td class="grey1">
				74,10 руб.</td>
			<td class="grey1">
				74,10 руб.</td>
		</tr>
		<tr height="20">
			<td class="grey">
				200</td>
			<td class="grey1">
				31,53 руб.</td>
			<td class="grey1">
				42,25 руб.</td>
			<td class="grey1">
				42,25 руб.</td>
		</tr>
		<tr height="20">
			<td class="grey">
				500</td>
			<td class="grey1">
				24,70 руб.</td>
			<td class="grey1">
				32,89 руб.</td>
			<td class="grey1">32,89 руб.</td>
		</tr>
		<tr height="20">
			<td class="grey">
				1000&nbsp;</td>
			<td class="grey" colspan="3" style="text-align: center;">
				&nbsp;&nbsp;&nbsp;<strong>Звоните!!!</strong></td>
		</tr>
	</tbody>
</table>
-->
