<div id="p-tabs" class="p-tab1" data-val="1368" data-id="284">
	<!--<a href="javascript:{$('#p-tabs').attr('data-val','833');void(0);}" class="p-tab1">Бумага самоклеящаяся полуглянцевая, 180 гр/м<sup>2</sup>.*</a>
	<a href="javascript:{$('#p-tabs').attr('data-val','834');void(0);}" class="p-tab2">Бумага самоклеющаяся полуглянцевая с перманентным клеем (RAFLATAC PLUS FSC), Spain 180 гр/м2.*</a>-->
	<a href="javascript:{$('#p-tabs').attr('data-val','1368');void(0);}" class="p-tab1">Бумага самоклеящаяся</a>
	<a href="javascript:{$('#p-tabs').attr('data-val','1369');void(0);}" class="p-tab2">Бумага с перманентным клеем</a>
	<div class="p-tab1">
		<table class="features-table">
			<tbody>
				<tr height="35">
					<td class="grey" colspan="2" rowspan="2">Формат, / тираж, шт.</td>
					<td class="grey" colspan="8">Цена за единицу</td>
				</tr>
				<tr height="34">
					<td class="grey">50 шт</td>
					<td class="grey">100 шт</td>
					<td class="grey">200 шт</td>
					<td class="grey">300 шт</td>
					<td class="grey">400 шт</td>
					<td class="grey">500 шт</td>
					<td class="grey">1000 шт</td>
					<td class="grey">5000 шт</td>
				</tr>
				<tr height="35">
					<td class="grey" colspan="10">Без контурной резки</td>
				</tr>
				<tr height="35">
					<td class="grey" style="border-right-color: rgb(151, 189, 227);">100х100</td>
					<td class="grey" style="border-left-color: rgb(151, 189, 227);">&nbsp;</td>
					<td class="grey1">725&nbsp;руб.</td>
					<td class="grey1">1050&nbsp;руб.</td>
					<td class="grey1">1545&nbsp;руб.</td>
					<td class="grey1">2310&nbsp;руб.</td>
					<td class="grey1">2904&nbsp;руб.</td>
					<td class="grey1">3656&nbsp;руб.</td>
					<td class="grey1">4750&nbsp;руб.</td>
					<td class="grey1">16122&nbsp;руб.</td>
				</tr>
				<tr height="35">
					<td class="grey" style="border-right-color: rgb(151, 189, 227);">А6 (105х148)</td>
					<td class="grey" style="border-left-color: rgb(151, 189, 227);">&nbsp;</td>
					<td class="grey1">935&nbsp;руб.</td>
					<td class="grey1">1318&nbsp;руб.</td>
					<td class="grey1">1780&nbsp;руб.</td>
					<td class="grey1">2560&nbsp;руб.</td>
					<td class="grey1">3200&nbsp;руб.</td>
					<td class="grey1">4100&nbsp;руб.</td>
					<td class="grey1">6800&nbsp;руб.</td>
					<td class="grey1">18625&nbsp;руб.</td>
				</tr>
				<tr height="35">
					<td class="grey" style="border-right-color: rgb(151, 189, 227);">А5 (148х210)</td>
					<td class="grey" style="border-left-color: rgb(151, 189, 227);">&nbsp;</td>
					<td class="grey1">1250&nbsp;руб.</td>
					<td class="grey1">1925&nbsp;руб.</td>
					<td class="grey1">3300&nbsp;руб.</td>
					<td class="grey1">4120&nbsp;руб.</td>
					<td class="grey1">5050&nbsp;руб.</td>
					<td class="grey1">6175&nbsp;руб.</td>
					<td class="grey1">9500&nbsp;руб.</td>
					<td class="grey1">25250&nbsp;руб.</td>
				</tr>
				<tr height="35">
					<td class="grey" style="border-right-color: rgb(151, 189, 227);">210х98</td>
					<td class="grey" style="border-left-color: rgb(151, 189, 227);">&nbsp;</td>
					<td class="grey1">1045&nbsp;руб.</td>
					<td class="grey1">1485&nbsp;руб.</td>
					<td class="grey1">2620&nbsp;руб.</td>
					<td class="grey1">3500&nbsp;руб.</td>
					<td class="grey1">4240&nbsp;руб.</td>
					<td class="grey1">5050&nbsp;руб.</td>
					<td class="grey1">9140&nbsp;руб.</td>
					<td class="grey1">21400&nbsp;руб.</td>
				</tr>
				<tr height="35">
					<td class="grey" colspan="10">С контурной резкой</td>
				</tr>
				<tr height="35">
					<td class="grey" style="border-right-color: rgb(151, 189, 227);">Круглые до 50</td>
					<td class="grey" style="border-left-color: rgb(151, 189, 227);">&nbsp;</td>
					<td class="grey1">654&nbsp;руб.</td>
					<td class="grey1">936&nbsp;руб.</td>
					<td class="grey1">1740&nbsp;руб.</td>
					<td class="grey1">2080&nbsp;руб.</td>
					<td class="grey1">2900&nbsp;руб.</td>
					<td class="grey1">3660&nbsp;руб.</td>
					<td class="grey1">9300&nbsp;руб.</td>
					<td class="grey1">14590&nbsp;руб.</td>
				</tr>
				<tr height="35">
					<td class="grey" style="border-right-color: rgb(151, 189, 227);">Круглые до 90</td>
					<td class="grey" style="border-left-color: rgb(151, 189, 227);">&nbsp;</td>
					<td class="grey1">825&nbsp;руб.</td>
					<td class="grey1">1170&nbsp;руб.</td>
					<td class="grey1">1930&nbsp;руб.</td>
					<td class="grey1">2490&nbsp;руб.</td>
					<td class="grey1">3080&nbsp;руб.</td>
					<td class="grey1">4200&nbsp;руб.</td>
					<td class="grey1">9880&nbsp;руб.</td>
					<td class="grey1">27457&nbsp;руб.</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="p-tab2">
		<table class="features-table">
			<tbody>
				<tr height="35">
					<td class="grey" colspan="2" rowspan="2">Формат, / тираж, шт.</td>
					<td class="grey" colspan="8">Цена за единицу</td>
				</tr>
				<tr height="35">
					<td class="grey">50 шт</td>
					<td class="grey">100 шт</td>
					<td class="grey">200 шт</td>
					<td class="grey">300 шт</td>
					<td class="grey">400 шт</td>
					<td class="grey">500 шт</td>
					<td class="grey">1000 шт</td>
					<td class="grey">5000 шт</td>
				</tr>
				<tr height="35">
					<td class="grey" colspan="10">Без контурной резки</td>
				</tr>
				<tr height="35">
					<td class="grey" style="border-right-color: rgb(151, 189, 227);">100х100</td>
					<td class="grey" style="border-left-color: rgb(151, 189, 227);">&nbsp;</td>
					<td class="grey1">795&nbsp;руб.</td>
					<td class="grey1">1250&nbsp;руб.</td>
					<td class="grey1">1585&nbsp;руб.</td>
					<td class="grey1">2450&nbsp;руб.</td>
					<td class="grey1">3135&nbsp;руб.</td>
					<td class="grey1">3850&nbsp;руб.</td>
					<td class="grey1">5150&nbsp;руб.</td>
					<td class="grey1">17440&nbsp;руб.</td>
				</tr>
				<tr height="35">
					<td class="grey" style="border-right-color: rgb(151, 189, 227);">А6 (105х148)</td>
					<td class="grey" style="border-left-color: rgb(151, 189, 227);">&nbsp;</td>
					<td class="grey1">1020&nbsp;руб.</td>
					<td class="grey1">1670&nbsp;руб.</td>
					<td class="grey1">1920&nbsp;руб.</td>
					<td class="grey1">2860&nbsp;руб.</td>
					<td class="grey1">3540&nbsp;руб.</td>
					<td class="grey1">4350&nbsp;руб.</td>
					<td class="grey1">7080&nbsp;руб.</td>
					<td class="grey1">29020&nbsp;руб.</td>
				</tr>
				<tr height="35">

					<td class="grey" style="border-right-color: rgb(151, 189, 227);">А5 (148х210)</td>
					<td class="grey" style="border-left-color: rgb(151, 189, 227);">&nbsp;</td>
					<td class="grey1">1370&nbsp;руб.</td>
					<td class="grey1">2170&nbsp;руб.</td>
					<td class="grey1">3660&nbsp;руб.</td>
					<td class="grey1">4370&nbsp;руб.</td>
					<td class="grey1">5390&nbsp;руб.</td>
					<td class="grey1">6450&nbsp;руб.</td>
					<td class="grey1">10740&nbsp;руб.</td>
					<td class="grey1">31610&nbsp;руб.</td>
				</tr>
				<tr height="35">
					<td class="grey" style="border-right-color: rgb(151, 189, 227);">210х98</td>
					<td class="grey" style="border-left-color: rgb(151, 189, 227);">&nbsp;</td>
					<td class="grey1">1230&nbsp;руб.</td>
					<td class="grey1">1780&nbsp;руб.</td>
					<td class="grey1">2900&nbsp;руб.</td>
					<td class="grey1">3840&nbsp;руб.</td>
					<td class="grey1">45000&nbsp;руб.</td>
					<td class="grey1">5470&nbsp;руб.</td>
					<td class="grey1">9510&nbsp;руб.</td>
					<td class="grey1">24130&nbsp;руб.</td>
				</tr>
				<tr height="35">
					<td class="grey" colspan="10">С контурной резкой</td>
				</tr>
				<tr height="35">
					<td class="grey" style="border-right-color: rgb(151, 189, 227);">Круглые до 50</td>
					<td class="grey" style="border-left-color: rgb(151, 189, 227);">&nbsp;</td>
					<td class="grey1">822&nbsp;руб.</td>
					<td class="grey1">1080&nbsp;руб.</td>
					<td class="grey1">1900&nbsp;руб.</td>
					<td class="grey1">2390&nbsp;руб.</td>
					<td class="grey1">2950&nbsp;руб.</td>
					<td class="grey1">3860&nbsp;руб.</td>
					<td class="grey1">9660&nbsp;руб.</td>
					<td class="grey1">14700&nbsp;руб.</td>
				</tr>
				<tr height="35">
					<td class="grey" style="border-right-color: rgb(151, 189, 227);">Круглые до 90</td>
					<td class="grey" style="border-left-color: rgb(151, 189, 227);">&nbsp;</td>
					<td class="grey1">1160&nbsp;руб.</td>
					<td class="grey1">1670&nbsp;руб.</td>
					<td class="grey1">2240&nbsp;руб.</td>
					<td class="grey1">2790&nbsp;руб.</td>
					<td class="grey1">4420&nbsp;руб.</td>
					<td class="grey1">4200&nbsp;руб.</td>
					<td class="grey1">10320&nbsp;руб.</td>
					<td class="grey1">32100&nbsp;руб.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!--end -->
