<div id="p-tabs" class="p-tab1" data-val="540" data-id="167">
	<!--<a href="javascript:{$('#p-tabs').attr('data-val','833');void(0);}" class="p-tab1">Бумага самоклеящаяся полуглянцевая, 180 гр/м<sup>2</sup>.*</a>
	<a href="javascript:{$('#p-tabs').attr('data-val','834');void(0);}" class="p-tab2">Бумага самоклеющаяся полуглянцевая с перманентным клеем (RAFLATAC PLUS FSC), Spain 180 гр/м2.*</a>-->
	<a href="javascript:{$('#p-tabs').attr('data-val','540');void(0);}" class="p-tab1">Стаканы с дизайном </a>
	<a href="javascript:{$('#p-tabs').attr('data-val','541');void(0);}" class="p-tab2">Стаканы без печати</a>
	<div class="p-tab1">
		<table class="features-table" border="1px">
			<tbody>
				<tr height="35">
					<td class="grey" rowspan="2">Объем</td>
					<td class="grey" rowspan="2">Плотность картона, гр/м2</td>
					<td class="grey" colspan="10">Количество штук / цена в рублях за шт.</td>
				</tr>
				<tr>
					<td class="grey">5&nbsp;000</td>
					<td class="grey">10&nbsp;000</td>
					<td class="grey">15&nbsp;000</td>
					<td class="grey">20&nbsp;000</td>
					<td class="grey">25&nbsp;000</td>
					<td class="grey">30&nbsp;000</td>
					<td class="grey">40&nbsp;000</td>
					<td class="grey">50&nbsp;000</td>
					<td class="grey">70&nbsp;000</td>
					<td class="grey">100&nbsp;000</td>
				</tr>
				<tr>
					<td class="grey">100 мл</td>
					<td class="grey">170+15</td>
					<td class="grey1"></td>
					<td class="grey1">6,2&nbsp;руб.</td>
					<td class="grey1">5,4&nbsp;руб.</td>
					<td class="grey1">5,1&nbsp;руб.</td>
					<td class="grey1">4,3&nbsp;руб.</td>
					<td class="grey1">3,6&nbsp;руб.</td>
					<td class="grey1">3,4&nbsp;руб.</td>
					<td class="grey1">3,1&nbsp;руб.</td>
					<td class="grey1">2,8&nbsp;руб.</td>
					<td class="grey1">2,4&nbsp;руб.</td>
				</tr>
				<tr>
					<td class="grey">180 (200) мл</td>
					<td class="grey">230+15</td>
					<td class="grey1">4,8&nbsp;руб.</td>
					<td class="grey1">4,4&nbsp;руб.</td>
					<td class="grey1">4,2&nbsp;руб.</td>
					<td class="grey1">4,0&nbsp;руб.</td>
					<td class="grey1">3,8&nbsp;руб.</td>
					<td class="grey1">3,5&nbsp;руб.</td>
					<td class="grey1">3,3&nbsp;руб.</td>
					<td class="grey1">3,2&nbsp;руб.</td>
					<td class="grey1">3,1&nbsp;руб.</td>
					<td class="grey1">3,0&nbsp;руб.</td>
				</tr>
				<tr>
					<td class="grey">250 мл</td>
					<td class="grey">280+15</td>
					<td class="grey1">5,4&nbsp;руб.</td>
					<td class="grey1">5,0&nbsp;руб.</td>
					<td class="grey1">4,5&nbsp;руб.</td>
					<td class="grey1">4,2&nbsp;руб.</td>
					<td class="grey1">4,0&nbsp;руб.</td>
					<td class="grey1">3,8&nbsp;руб.</td>
					<td class="grey1">3,6&nbsp;руб.</td>
					<td class="grey1">3,5&nbsp;руб.</td>
					<td class="grey1">3,4&nbsp;руб.</td>
					<td class="grey1">3,3&nbsp;руб.</td>
				</tr>
				<tr>
					<td class="grey">350 мл</td>
					<td class="grey">280+15</td>
					<td class="grey1">6,0&nbsp;руб.</td>
					<td class="grey1">5,5&nbsp;руб.</td>
					<td class="grey1">5,4&nbsp;руб.</td>
					<td class="grey1">5,0&nbsp;руб.</td>
					<td class="grey1">4,7&nbsp;руб.</td>
					<td class="grey1">4,3&nbsp;руб.</td>
					<td class="grey1">4,0&nbsp;руб.</td>
					<td class="grey1">3,8&nbsp;руб.</td>
					<td class="grey1">3,6&nbsp;руб.</td>
					<td class="grey1">3,5&nbsp;руб.</td>
				</tr>
				<tr>
					<td class="grey">400 мл</td>
					<td class="grey">280+15</td>
					<td class="grey1">7,0&nbsp;руб.</td>
					<td class="grey1">6,5&nbsp;руб.</td>
					<td class="grey1">6,0&nbsp;руб.</td>
					<td class="grey1">5,8&nbsp;руб.</td>
					<td class="grey1">5,6&nbsp;руб.</td>
					<td class="grey1">5,5&nbsp;руб.</td>
					<td class="grey1">5,4&nbsp;руб.</td>
					<td class="grey1">5,3&nbsp;руб.</td>
					<td class="grey1">5,2&nbsp;руб.</td>
					<td class="grey1">5,0&nbsp;руб.</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="p-tab2">
		<table class="features-table" border="1px">
			<tbody>
				<tr height="35">
					<td class="grey" rowspan="2">Объем</td>
					<td class="grey" rowspan="2">Плотность картона, гр/м2</td>
					<td class="grey" colspan="10">Количество штук / цена в рублях за шт.</td>
				</tr>
				<tr>
					<td class="grey">5&nbsp;000</td>
					<td class="grey">10&nbsp;000</td>
					<td class="grey">15&nbsp;000</td>
					<td class="grey">20&nbsp;000</td>
					<td class="grey">25&nbsp;000</td>
					<td class="grey">30&nbsp;000</td>
					<td class="grey">40&nbsp;000</td>
					<td class="grey">50&nbsp;000</td>
					<td class="grey">70&nbsp;000</td>
					<td class="grey">100&nbsp;000</td>
				</tr>
				<!--<tr>
					<td class="grey">100 мл</td>
					<td class="grey">170+15</td>
					<td class="grey1"></td>
					<td class="grey1">6,2&nbsp;руб.</td>
					<td class="grey1">5,4&nbsp;руб.</td>
					<td class="grey1">5,1&nbsp;руб.</td>
					<td class="grey1">4,3&nbsp;руб.</td>
					<td class="grey1">3,6&nbsp;руб.</td>
					<td class="grey1">3,4&nbsp;руб.</td>
					<td class="grey1">3,1&nbsp;руб.</td>
					<td class="grey1">2,8&nbsp;руб.</td>
					<td class="grey1">2,4&nbsp;руб.</td>
				</tr>-->
				<tr>
					<td class="grey">180 (200) мл</td>
					<td class="grey">230+15</td>
					<td class="grey1">3,0&nbsp;руб.</td>
					<td class="grey1">2,5&nbsp;руб.</td>
					<td class="grey1">2,5&nbsp;руб.</td>
					<td class="grey1">2,5&nbsp;руб.</td>
					<td class="grey1">2,5&nbsp;руб.</td>
					<td class="grey1">2,5&nbsp;руб.</td>
					<td class="grey1">2,5&nbsp;руб.</td>
					<td class="grey1">2,5&nbsp;руб.</td>
					<td class="grey1">2,5&nbsp;руб.</td>
					<td class="grey1">2,5&nbsp;руб.</td>
				</tr>
				<tr>
					<td class="grey">250 мл</td>
					<td class="grey">280+15</td>
					<td class="grey1">3,5&nbsp;руб.</td>
					<td class="grey1">3,0&nbsp;руб.</td>
					<td class="grey1">3,0&nbsp;руб.</td>
					<td class="grey1">3,0&nbsp;руб.</td>
					<td class="grey1">3,0&nbsp;руб.</td>
					<td class="grey1">3,0&nbsp;руб.</td>
					<td class="grey1">3,0&nbsp;руб.</td>
					<td class="grey1">3,0&nbsp;руб.</td>
					<td class="grey1">3,0&nbsp;руб.</td>
					<td class="grey1">3,0&nbsp;руб.</td>
				</tr>
				<tr>
					<td class="grey">350 мл</td>
					<td class="grey">280+15</td>
					<td class="grey1">4,0&nbsp;руб.</td>
					<td class="grey1">3,7&nbsp;руб.</td>
					<td class="grey1">3,7&nbsp;руб.</td>
					<td class="grey1">3,7&nbsp;руб.</td>
					<td class="grey1">3,7&nbsp;руб.</td>
					<td class="grey1">3,7&nbsp;руб.</td>
					<td class="grey1">3,7&nbsp;руб.</td>
					<td class="grey1">3,7&nbsp;руб.</td>
					<td class="grey1">3,7&nbsp;руб.</td>
					<td class="grey1">3,7&nbsp;руб.</td>
				</tr>
				<tr>
					<td class="grey">400 мл</td>
					<td class="grey">280+15</td>
					<td class="grey1">5,0&nbsp;руб.</td>
					<td class="grey1">4,8&nbsp;руб.</td>
					<td class="grey1">4,8&nbsp;руб.</td>
					<td class="grey1">4,8&nbsp;руб.</td>
					<td class="grey1">4,8&nbsp;руб.</td>
					<td class="grey1">4,8&nbsp;руб.</td>
					<td class="grey1">4,8&nbsp;руб.</td>
					<td class="grey1">4,8&nbsp;руб.</td>
					<td class="grey1">4,8&nbsp;руб.</td>
					<td class="grey1">4,8&nbsp;руб.</td>
				</tr>
			</tbody>
		</table>
</div>
<!--end -->
