<div id="p-tabs" class="p-tab1" data-val="833">
	<a href="javascript:{$('#p-tabs').attr('data-val','833');void(0);}" class="p-tab1">Бумага самоклеящаяся полуглянцевая, 180 гр/м<sup>2</sup>.*</a>
	<a href="javascript:{$('#p-tabs').attr('data-val','834');void(0);}" class="p-tab2">Бумага самоклеющаяся полуглянцевая с перманентным клеем (RAFLATAC PLUS FSC), Spain 180 гр/м2.*</td></a>
	<div class="p-tab1">
		<table class="features-table">
			<tbody>
				<tr height="35">
					<td class="grey" colspan="2" rowspan="2">Формат, мм / тираж, шт.</td>
					<td class="grey" colspan="6">Цена за единицу</td>
				</tr>
				<tr height="20">
					<td class="grey">
						Размер</td>
					<td class="grey">
						50 шт</td>
					<td class="grey">
						100 шт</td>
					<td class="grey">
						200 шт</td>
					<td class="grey">
						300 шт</td>
					<td class="grey">
						400 шт</td>
					<td class="grey">
						500 шт</td>
					<td class="grey">
						1000 шт</td>
					<td class="grey">
						5000 шт</td>
				</tr>
				<tr height="20">
					<td class="grey" colspan="9">
						Без контурной резки</td>
				</tr>
				<tr height="20">
					<td class="grey">
						100×100 мм</td>
					<td class="grey1">
						725 р.</td>
					<td class="grey1">
						1050&nbsp;р.</td>
					<td class="grey1">
						1545&nbsp;р.</td>
					<td class="grey1">
						2310&nbsp;р.</td>
					<td class="grey1">
						2904&nbsp;р.</td>
					<td class="grey1">
						3656&nbsp;р.</td>
					<td class="grey1">
						4750&nbsp;р.</td>
					<td class="grey1">
						16122&nbsp;р.</td>
				</tr>
				<tr height="60">
					<td class="grey">
						А6 (105×148 мм)</td>
					<td class="grey1">
						935&nbsp;р.</td>
					<td class="grey1">
						1318&nbsp;р.</td>
					<td class="grey1">
						1780&nbsp;р.</td>
					<td class="grey1">
						2560&nbsp;р.</td>
					<td class="grey1">
						3200&nbsp;р.</td>
					<td class="grey1">
						4100&nbsp;р.</td>
					<td class="grey1">
						6800&nbsp;р.</td>
					<td class="grey1">
						18625&nbsp;р.</td>
				</tr>
				<tr height="60">
					<td class="grey">
						А5 (148×210 мм)</td>
					<td class="grey1">
						1250&nbsp;р.</td>
					<td class="grey1">
						1925&nbsp;р.</td>
					<td class="grey1">
						3300&nbsp;р.</td>
					<td class="grey1">
						4120&nbsp;р.</td>
					<td class="grey1">
						5050&nbsp;р.</td>
					<td class="grey1">
						6175&nbsp;р.</td>
					<td class="grey1">
						9500&nbsp;р.</td>
					<td class="grey1">
						25250&nbsp;р.</td>
				</tr>
				<tr height="40">
					<td class="grey">
						210×98мм</td>
					<td class="grey1">
						1045&nbsp;р.</td>
					<td class="grey1">
						1485&nbsp;р.</td>
					<td class="grey1">
						2620&nbsp;р.</td>
					<td class="grey1">
						3500&nbsp;р.</td>
					<td class="grey1">
						4240&nbsp;р.</td>
					<td class="grey1">
						5050&nbsp;р.</td>
					<td class="grey1">
						9140&nbsp;р.</td>
					<td class="grey1">
						21400&nbsp;р.</td>
				</tr>
				<tr height="20">
					<td class="grey" colspan="9">
						С контурной резкой</td>
				</tr>
				<tr height="80">
					<td class="grey">
						Круглые до 50 мм диаметр&nbsp;</td>
					<td class="grey1">
						654&nbsp;р.</td>
					<td class="grey1">
						936&nbsp;р.</td>
					<td class="grey1">
						1740&nbsp;р.</td>
					<td class="grey1">
						2080&nbsp;р.</td>
					<td class="grey1">
						2900&nbsp;р.</td>
					<td class="grey1">
						3660&nbsp;р.</td>
					<td class="grey1">
						9300&nbsp;р.</td>
					<td class="grey1">
						14590&nbsp;р.</td>
				</tr>
				<tr height="80">
					<td class="grey">
						Круглые от 50 до 90 мм диаметр</td>
					<td class="grey1">
						825&nbsp;р.</td>
					<td class="grey1">
						1170&nbsp;р.</td>
					<td class="grey1">
						1930&nbsp;р.</td>
					<td class="grey1">
						2490&nbsp;р.</td>
					<td class="grey1">
						3080&nbsp;р.</td>
					<td class="grey1">
						4200&nbsp;р.</td>
					<td class="grey1">
						9880&nbsp;р.</td>
					<td class="grey1">
						27457&nbsp;р.</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="p-tab2">
		<table class="features-table">
			<tbody>
				<tr height="25">
					<td class="grey" colspan="9">
						Бумага самоклеющаяся полуглянцевая с перманентным клеем (RAFLATAC PLUS FSC), Spain 180 гр/м2.*</td>
				</tr>
				<tr height="20">
					<td class="grey">
						Размер</td>
					<td class="grey">
						50 шт</td>
					<td class="grey">
						100 шт</td>
					<td class="grey">
						200 шт</td>
					<td class="grey">
						300 шт</td>
					<td class="grey">
						400 шт</td>
					<td class="grey">
						500 шт</td>
					<td class="grey">
						1000 шт</td>
					<td class="grey">
						5000 шт</td>
				</tr>
				<tr height="20">
					<td class="grey" colspan="9">
						Без контурной резки</td>
				</tr>
				<tr height="20">
					<td class="grey">
						100×100 мм</td>
					<td class="grey1">
						795 р.</td>
					<td class="grey1">
						1250&nbsp;р.</td>
					<td class="grey1">
						1585 р.</td>
					<td class="grey1">
						2450 р.</td>
					<td class="grey1">
						3135 р.</td>
					<td class="grey1">
						3850 р.</td>
					<td class="grey1">
						5150 р.</td>
					<td class="grey1">
						17440 р.</td>
				</tr>
				<tr height="60">
					<td class="grey">
						А6 (105×148 мм)</td>
					<td class="grey1">
						1020 р.</td>
					<td class="grey1">
						1670 р.</td>
					<td class="grey1">
						1920 р.</td>
					<td class="grey1">
						2860&nbsp;р.</td>
					<td class="grey1">
						3540 р.</td>
					<td class="grey1">
						4350 р.</td>
					<td class="grey1">
						7080&nbsp;р.</td>
					<td class="grey1">
						29020 р.</td>
				</tr>
				<tr height="60">
					<td class="grey">
						А5 (148×210 мм)</td>
					<td class="grey1">
						1370&nbsp;р.</td>
					<td class="grey1">
						2170 р.</td>
					<td class="grey1">
						3660 р.</td>
					<td class="grey1">
						4370&nbsp;р.</td>
					<td class="grey1">
						5390 р.</td>
					<td class="grey1">
						6450 р.</td>
					<td class="grey1">
						10740&nbsp;р.</td>
					<td class="grey1">
						31610&nbsp;р.</td>
				</tr>
				<tr height="40">
					<td class="grey">
						210×98мм</td>
					<td class="grey1">
						1230 р.</td>
					<td class="grey1">
						1780 р.</td>
					<td class="grey1">
						2900 р.</td>
					<td class="grey1">
						3840&nbsp;р.</td>
					<td class="grey1">
						45000&nbsp;р.</td>
					<td class="grey1">
						5470 р.</td>
					<td class="grey1">
						9510&nbsp;р.</td>
					<td class="grey1">
						24130&nbsp;р.</td>
				</tr>
				<tr height="20">
					<td class="grey" colspan="9">
						С контурной резкой</td>
				</tr>
				<tr height="80">
					<td class="grey">
						Круглые до 50 мм диаметр&nbsp;</td>
					<td class="grey1">
						822 р.</td>
					<td class="grey1">
						1080 р.</td>
					<td class="grey1">
						1900 р.</td>
					<td class="grey1">
						2390&nbsp;р.</td>
					<td class="grey1">
						2950 р.</td>
					<td class="grey1">
						3860&nbsp;р.</td>
					<td class="grey1">
						9660&nbsp;р.</td>
					<td class="grey1">
						14700&nbsp;р.</td>
				</tr>
				<tr height="80">
					<td class="grey">
						Круглые от 50 до 90 мм диаметр</td>
					<td class="grey1">
						1160 р.</td>
					<td class="grey1">
						1670&nbsp;р.</td>
					<td class="grey1">
						2240 р.</td>
					<td class="grey1">
						2790&nbsp;р.</td>
					<td class="grey1">
						4420 р.</td>
					<td class="grey1">
						4200&nbsp;р.</td>
					<td class="grey1">
						10320&nbsp;р.</td>
					<td class="grey1">
						32100 р.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!--end -->



<p>
	&nbsp;</p>
<table id="calculator_table" class="features-table">
	<tbody>
		<tr>
			<td rowspan="2" class="grey">
				<p align="center">
					Формат</p>
			</td>
			<td colspan="3" class="grey">
				<p align="center">
					<strong>Цены на широкоформатную печать</strong> 4+0 на самоклеящейся бумаге тираж, шт. / цена за единицу, руб.<strong> (малые тиражи)</strong></p>
			</td>
		</tr>
		<tr>
			<td class="grey">
				<p align="center">
					1 шт.</p>
			</td>
			<td class="grey">
				<p align="center">
					10 шт.</p>
			</td>
			<td class="grey">
				<p align="center">
					50 шт.</p>
			</td>
		</tr>
		<tr>
			<td class="grey">
				<p align="center">
					А1</p>
			</td>
			<td class="grey1">
				<p align="center">
					1400 руб.</p>
			</td>
			<td class="grey1">
				<p align="center">
					470 руб.</p>
			</td>
			<td class="grey1">
				<p align="center">
					364,50 руб.</p>
			</td>
		</tr>
		<tr>
			<td class="grey">
				<p align="center">
					А2</p>
			</td>
			<td class="grey1">
				<p align="center">
					1100 руб.</p>
			</td>
			<td class="grey1">
				<p align="center">
					300 руб.</p>
			</td>
			<td class="grey1">
				<p align="center">
					216 руб.</p>
			</td>
		</tr>
	</tbody>
</table>

<h2>
	Цены на печать листовок</h2>
<div id="p-tabs" class="p-tab1" data-val="833">
	<a href="javascript:{$('#p-tabs').attr('data-val','833');void(0);}" class="p-tab1">Мелованная бумага 150 г/м<sup>2</sup></a>
	<a href="javascript:{$('#p-tabs').attr('data-val','834');void(0);}" class="p-tab2">Мелованная бумага 200 г/м<sup>2</sup></a>
	<a href="javascript:{$('#p-tabs').attr('data-val','1138');void(0);}" class="p-tab3">Мелованная бумага 300 г/м<sup>2</sup></a>
	<table align="center" border="1" cellpadding="0" class="features-table">
	<tbody>
		<tr height="35">
			<td class="grey" colspan="2" rowspan="2">Формат, мм, Цветность / тираж, шт.</td>
			<td class="grey" colspan="6">Цена за единицу</td>
		</tr>
		<tr height="34">
			<td class="grey">50 шт</td>
			<td class="grey">100 шт</td>
			<td class="grey">200 шт</td>
			<td class="grey">300 шт</td>
		</tr>
		<tr>
			<td class="grey">А4 (210х297)</td>
			<td class="grey">4+0</td>
			<td class="grey1">28,00 р.</td>
			<td class="grey1">27,00 р.</td>
			<td class="grey1">17,60 р.</td>
			<td class="grey1">16,5 р.</td>
		</tr>
		<tr>
			<td class="grey">А4 (210х297)</td>
			<td class="grey">4+4</td>
			<td class="grey1">39,80 р.</td>
			<td class="grey1">32,00 р.</td>
			<td class="grey1">25,85 р.</td>
			<td class="grey1">20,33 р.</td>
		</tr>
		<tr>
			<td class="grey">А5 (148х210)</td>
			<td class="grey">4+0</td>
			<td class="grey1">25,00 р.</td>
			<td class="grey1">16,00 р.</td>
			<td class="grey1">12,25 р.</td>
			<td class="grey1">9,60 р.</td>
		</tr>
		<tr>
			<td class="grey">А5 (148х210)</td>
			<td class="grey">4+4</td>
			<td class="grey1">29,00 р.</td>
			<td class="grey1">19,55 р.</td>
			<td class="grey1">15,15 р.</td>
			<td class="grey1">13,65 р.</td>
		</tr>
	</tbody>
</table>
	<div class="p-tab1">
		<table class="features-table" id="tovar_table">
			<tbody>
				<tr height="35">
					<td class="grey" colspan="2" rowspan="2">Формат, мм / тираж, шт.</td>
					<td class="grey" colspan="6">Цена за единицу</td>
				</tr>
				<tr height="34">
					<td class="grey">10 шт</td>
					<td class="grey">50 шт</td>
					<td class="grey">100 шт</td>
					<td class="grey">200 шт</td>
					<td class="grey">300 шт</td>
					<td class="grey">500 шт</td>
				</tr>
				<tr height="35">
					<td class="grey">А3 (297х420)</td>
					<td class="grey">4+4</td>
					<td class="grey1">65 руб</td>
					<td class="grey1">48,00&nbsp;руб</td>
					<td class="grey1">44,00&nbsp;руб</td>
					<td class="grey1">38,50&nbsp;руб</td>
					<td class="grey1">36,30&nbsp;руб&nbsp;</td>
					<td class="grey1">33,00&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А3 (297х420)</td>
					<td class="grey">4+0</td>
					<td class="grey1">45,60&nbsp;руб</td>
					<td class="grey1">30,56&nbsp;руб</td>
					<td class="grey1">27,17&nbsp;руб</td>
					<td class="grey1">24,04&nbsp;руб</td>
					<td class="grey1">22,00&nbsp;руб</td>
					<td class="grey1">20,90&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А4 (210х297)</td>
					<td class="grey">4+4</td>
					<td class="grey1">40,00&nbsp;руб&nbsp;</td>
					<td class="grey1">25,50&nbsp;руб</td>
					<td class="grey1">21,50&nbsp;руб</td>
					<td class="grey1">19,25&nbsp;руб</td>
					<td class="grey1">18,15&nbsp;руб</td>
					<td class="grey1">17,05&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А4 (210х297)</td>
					<td class="grey">4+0</td>
					<td class="grey1">30,70&nbsp;руб</td>
					<td class="grey1">16,78&nbsp;руб</td>
					<td class="grey1">13,85&nbsp;руб</td>
					<td class="grey1">11,68&nbsp;руб</td>
					<td class="grey1">11,00&nbsp;руб</td>
					<td class="grey1">10,45&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А5 (148х210)</td>
					<td class="grey">4+4</td>
					<td class="grey1">27,50&nbsp;руб</td>
					<td class="grey1">14,26&nbsp;руб</td>
					<td class="grey1">11,50&nbsp;руб</td>
					<td class="grey1">9,50&nbsp;руб</td>
					<td class="grey1">9,08&nbsp;руб</td>
					<td class="grey1">8,53&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А5 (148х210)</td>
					<td class="grey">4+0</td>
					<td class="grey1">22,80&nbsp;руб</td>
					<td class="grey1">9,98&nbsp;руб</td>
					<td class="grey1">7,68&nbsp;руб</td>
					<td class="grey1">6,22&nbsp;руб</td>
					<td class="grey1">5,50&nbsp;руб</td>
					<td class="grey1">5,23&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А6 (105х148)</td>
					<td class="grey">4+4</td>
					<td class="grey1">21,30&nbsp;руб</td>
					<td class="grey1">8,62&nbsp;руб</td>
					<td class="grey1">6,50&nbsp;руб</td>
					<td class="grey1">5,13 руб</td>
					<td class="grey1">4,63&nbsp;руб</td>
					<td class="grey1">4,18&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А6 (105х148)</td>
					<td class="grey">4+0</td>
					<td class="grey1">18,90&nbsp;руб</td>
					<td class="grey1">6,44&nbsp;руб</td>
					<td class="grey1">4,59&nbsp;руб</td>
					<td class="grey1">3,48&nbsp;руб</td>
					<td class="grey1">3,00&nbsp;руб</td>
					<td class="grey1">2,68&nbsp;руб</td>
				</tr>




				<tr height="35">
					<td class="grey">210х95</td>
					<td class="grey">4+4</td>
					<td class="grey1">23,3 руб</td>
					<td class="grey1">10,50&nbsp;руб</td>
					<td class="grey1">8,17&nbsp;руб</td>
					<td class="grey1">6,59&nbsp;руб</td>
					<td class="grey1">6,33&nbsp;руб</td>
					<td class="grey1">5,68&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">210х95</td>
					<td class="grey">4+0</td>
					<td class="grey1">20,20&nbsp;руб</td>
					<td class="grey1">7,60&nbsp;руб</td>
					<td class="grey1">5,62&nbsp;руб</td>
					<td class="grey1">4,39&nbsp;руб</td>
					<td class="grey1">3,83&nbsp;руб</td>
					<td class="grey1">3,48&nbsp;руб</td>
				</tr>


				<tr height="35">
					<td class="grey">100х70</td>
					<td class="grey">4+4</td>
					<td class="grey1">18,10&nbsp;руб</td>
					<td class="grey1">5,82&nbsp;руб</td>
					<td class="grey1">4,00&nbsp;руб</td>
					<td class="grey1">2,94&nbsp;руб</td>
					<td class="grey1">2,56&nbsp;руб</td>
					<td class="grey1">2,24&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">100х70</td>
					<td class="grey">4+0</td>
					<td class="grey1">17 руб</td>
					<td class="grey1">4,72&nbsp;руб</td>
					<td class="grey1">3,04&nbsp;руб</td>
					<td class="grey1">2,12&nbsp;руб</td>
					<td class="grey1">1,75&nbsp;руб</td>
					<td class="grey1">1,49&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="p-tab2">
		<table class="features-table" id="tovar_table">
			<tbody>
				<tr height="35">
					<td class="grey" colspan="2" rowspan="2">Формат, мм / тираж, шт.</td>
					<td class="grey" colspan="6">Цена за единицу</td>
				</tr>
				<tr height="34">
					<td class="grey">10 шт</td>
					<td class="grey">50 шт</td>
					<td class="grey">100 шт</td>
					<td class="grey">200 шт</td>
					<td class="grey">300 шт</td>
					<td class="grey">500 шт</td>
				</tr>
				<tr height="35">
					<td class="grey">А3 (297х420)</td>
					<td class="grey">4+4</td>
					<td class="grey1">67,00 руб</td>
					<td class="grey1">49,00&nbsp;руб</td>
					<td class="grey1">45,10&nbsp;руб</td>
					<td class="grey1">39,70&nbsp;руб</td>
					<td class="grey1">37,20&nbsp;руб</td>
					<td class="grey1">35,20&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А3 (297х420)</td>
					<td class="grey">4+0</td>
					<td class="grey1">47,20 руб</td>
					<td class="grey1">32,00&nbsp;руб</td>
					<td class="grey1">28,60&nbsp;руб</td>
					<td class="grey1">28,60&nbsp;руб</td>
					<td class="grey1">25,30&nbsp;руб</td>
					<td class="grey1">22,00&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А4 (297х210)</td>
					<td class="grey">4+4</td>
					<td class="grey1">41,0 руб</td>
					<td class="grey1">36,36&nbsp;руб</td>
					<td class="grey1">22,00&nbsp;руб</td>
					<td class="grey1">16,25&nbsp;руб</td>
					<td class="grey1">18,70&nbsp;руб</td>
					<td class="grey1">17,60&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А4 (297х210)</td>
					<td class="grey">4+0</td>
					<td class="grey1">31,10&nbsp;руб</td>
					<td class="grey1">17,50&nbsp;руб</td>
					<td class="grey1">14,50&nbsp;руб</td>
					<td class="grey1">13,75&nbsp;руб</td>
					<td class="grey1">12,00&nbsp;руб</td>
					<td class="grey1">10,06&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А5 (148х210)</td>
					<td class="grey">4+4</td>
					<td class="grey1">28,00&nbsp;руб</td>
					<td class="grey1">19,68&nbsp;руб</td>
					<td class="grey1">11,75 руб</td>
					<td class="grey1">9,75&nbsp;руб</td>
					<td class="grey1">9,38&nbsp;руб</td>
					<td class="grey1">8,80&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А5 (148х210)</td>
					<td class="grey">4+0</td>
					<td class="grey1">23,10&nbsp;руб</td>
					<td class="grey1">10,26&nbsp;руб</td>
					<td class="grey1">8,00&nbsp;руб</td>
					<td class="grey1">7,25&nbsp;руб</td>
					<td class="grey1">6,25&nbsp;руб</td>
					<td class="grey1">5,06&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А6 (105х148)</td>
					<td class="grey">4+4</td>
					<td class="grey1">21,50&nbsp;руб</td>
					<td class="grey1">8,76&nbsp;руб</td>
					<td class="grey1">6,63&nbsp;руб</td>
					<td class="grey1">5,25&nbsp;руб</td>
					<td class="grey1">4,54&nbsp;руб</td>
					<td class="grey1">4,40&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А6 (105х148)</td>
					<td class="grey">4+0</td>
					<td class="grey1">19,00&nbsp;руб</td>
					<td class="grey1">6,62&nbsp;руб</td>
					<td class="grey1">4,75&nbsp;руб</td>
					<td class="grey1">4,00&nbsp;руб</td>
					<td class="grey1">3,38&nbsp;руб</td>
					<td class="grey1">2,75&nbsp;руб</td>
				</tr>




				<tr height="35">
					<td class="grey">210х95</td>
					<td class="grey">4+4</td>
					<td class="grey1">23,70&nbsp;руб</td>
					<td class="grey1">10,66&nbsp;руб</td>
					<td class="grey1">8,33&nbsp;руб</td>
					<td class="grey1">6,75&nbsp;руб</td>
					<td class="grey1">6,23&nbsp;руб&nbsp;</td>
					<td class="grey1">5,85 руб</td>
				</tr>
				<tr height="35">
					<td class="grey">210х95</td>
					<td class="grey">4+0</td>
					<td class="grey1">20,40&nbsp;руб</td>
					<td class="grey1">7,84&nbsp;руб</td>
					<td class="grey1">5,83&nbsp;руб</td>
					<td class="grey1">5,09&nbsp;руб</td>
					<td class="grey1">4,33&nbsp;руб</td>
					<td class="grey1">3,67&nbsp;руб</td>
				</tr>


				<tr height="35">
					<td class="grey">100х70</td>
					<td class="grey">4+4</td>
					<td class="grey1">18,30&nbsp;руб</td>
					<td class="grey1">5,88&nbsp;руб</td>
					<td class="grey1">4,06&nbsp;руб</td>
					<td class="grey1">3,00&nbsp;руб</td>
					<td class="grey1">2,63&nbsp;руб</td>
					<td class="grey1">2,06&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">100х70</td>
					<td class="grey">4+0</td>
					<td class="grey1">17,00&nbsp;руб</td>
					<td class="grey1">4,82&nbsp;руб</td>
					<td class="grey1">3,13&nbsp;руб</td>
					<td class="grey1">2,38&nbsp;руб</td>
					<td class="grey1">1,94&nbsp;руб</td>
					<td class="grey1">1,31 руб</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="p-tab3">
		<table class="features-table" id="tovar_table">
			<tbody>
				<tr height="35">
					<td class="grey" colspan="2" rowspan="2">Формат, мм / тираж, шт.</td>
					<td class="grey" colspan="6">Цена за единицу</td>
				</tr>
				<tr height="34">
					<td class="grey">10 шт</td>
					<td class="grey">50 шт</td>
					<td class="grey">100 шт</td>
					<td class="grey">200 шт</td>
					<td class="grey">300 шт</td>
					<td class="grey">500 шт</td>
				</tr>
				<tr height="35">
					<td class="grey">А3 (420х297)</td>
					<td class="grey">4+4</td>
					<td class="grey1">69,00 руб</td>
					<td class="grey1">50,00&nbsp;руб</td>
					<td class="grey1">43,50&nbsp;руб</td>
					<td class="grey1">40,70&nbsp;руб</td>
					<td class="grey1">38,50&nbsp;руб</td>
					<td class="grey1">36,30&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А3 (420х297)</td>
					<td class="grey">4+0</td>
					<td class="grey1">48,80&nbsp;руб</td>
					<td class="grey1">33,46&nbsp;руб</td>
					<td class="grey1">28,80&nbsp;руб</td>
					<td class="grey1">30,03&nbsp;руб</td>
					<td class="grey1">26,57&nbsp;руб</td>
					<td class="grey1">23,10&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А4 (210х297)</td>
					<td class="grey">4+4</td>
					<td class="grey1">42,00&nbsp;руб</td>
					<td class="grey1">26,50&nbsp;руб</td>
					<td class="grey1">22,50&nbsp;руб</td>
					<td class="grey1">20,35&nbsp;руб</td>
					<td class="grey1">19,25&nbsp;руб</td>
					<td class="grey1">18,15&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А4 (210х297)</td>
					<td class="grey">4+0</td>
					<td class="grey1">31,90&nbsp;руб</td>
					<td class="grey1">18,22&nbsp;руб</td>
					<td class="grey1">15,15&nbsp;руб</td>
					<td class="grey1">15,02&nbsp;руб</td>
					<td class="grey1">13,28&nbsp;руб</td>
					<td class="grey1">11,55&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А5 (148х210)</td>
					<td class="grey">4+4</td>
					<td class="grey1">28,50&nbsp;руб</td>
					<td class="grey1">14,76&nbsp;руб</td>
					<td class="grey1">12,00&nbsp;руб</td>
					<td class="grey1">10,00&nbsp;руб</td>
					<td class="grey1">9,63&nbsp;руб</td>
					<td class="grey1">9,08&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А5 (148х210)</td>
					<td class="grey">4+0</td>
					<td class="grey1">23,50&nbsp;руб</td>
					<td class="grey1">10,62&nbsp;руб</td>
					<td class="grey1">9,11&nbsp;руб</td>
					<td class="grey1">7,58&nbsp;руб</td>
					<td class="grey1">6,54&nbsp;руб</td>
					<td class="grey1">5,78&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А6 (105х148)</td>
					<td class="grey">4+4</td>
					<td class="grey1">8,30&nbsp;руб</td>
					<td class="grey1">8,88&nbsp;руб</td>
					<td class="grey1">6,75&nbsp;руб</td>
					<td class="grey1">5,38&nbsp;руб</td>
					<td class="grey1">4,88&nbsp;руб</td>
					<td class="grey1">4,54&nbsp;руб</td>
				</tr>
				<tr height="35">
					<td class="grey">А6 (105х148)</td>
					<td class="grey">4+0</td>
					<td class="grey1">19,20&nbsp;руб</td>
					<td class="grey1">6,80&nbsp;руб</td>
					<td class="grey1">5,31&nbsp;руб</td>
					<td class="grey1">4,17&nbsp;руб</td>
					<td class="grey1">3,52&nbsp;руб</td>
					<td class="grey1">2,93&nbsp;руб</td>
				</tr>
				<tr height="21">
					<td class="grey">210х95</td>
					<td class="grey">4+4</td>
					<td class="grey1">24,00&nbsp;руб</td>
					<td class="grey1">10,84&nbsp;руб</td>
					<td class="grey1">8,50&nbsp;руб</td>
					<td class="grey1">6,92&nbsp;руб</td>
					<td class="grey1">6,42&nbsp;руб</td>
					<td class="grey1">6,05&nbsp;руб</td>
				</tr>
				<tr height="21">
					<td class="grey">210х95</td>
					<td class="grey">4+0</td>
					<td class="grey1">20,60&nbsp;руб</td>
					<td class="grey1">8,08&nbsp;руб</td>
					<td class="grey1">6,58&nbsp;руб</td>
					<td class="grey1">5,30&nbsp;руб</td>
					<td class="grey1">4,53&nbsp;руб</td>
					<td class="grey1">3,85&nbsp;руб</td>
				</tr>
				<tr height="21">
					<td class="grey">100х70</td>
					<td class="grey">4+4</td>
					<td class="grey1">18,40&nbsp;руб</td>
					<td class="grey1">5,94&nbsp;руб</td>
					<td class="grey1">4,13&nbsp;руб</td>
					<td class="grey1">3,07&nbsp;руб</td>
					<td class="grey1">2,69&nbsp;руб</td>
					<td class="grey1">2,36&nbsp;руб</td>
				</tr>
				<tr height="21">
					<td class="grey">100х70</td>
					<td class="grey">4+0</td>
					<td class="grey1">17,10&nbsp;руб</td>
					<td class="grey1">4,90&nbsp;руб</td>
					<td class="grey1">3,40&nbsp;руб</td>
					<td class="grey1">2,46&nbsp;руб</td>
					<td class="grey1">2,01&nbsp;руб</td>
					<td class="grey1">1,61&nbsp;руб</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
