<h2>
	Заказать бумажные стаканы тиражом 5 000 шт. (минимально возможный)</h2>
<br />
<table class="ndesigntable" width="100%">
	<tbody>
		<tr class="sstl">
			<td align="center" class="fgts" valign="middle">
				ОБЪЕМ, ПЛОТНОСТЬ КАРТОНА</td>
			<td align="center" class="fgts" valign="middle">
				БУМАЖНЫЕ СТАКАНЫ С ИНДИВИДУАЛЬНЫМ ДИЗАЙНОМ ЗАКАЗЧИКА</td>
			<td align="center" class="fgts" valign="middle">
				БУМАЖНЫЕ СТАКАНЫ БЕЗ ПЕЧАТИ</td>
		</tr>
		<tr class="sstb">
			<td align="center" class="fgts smlfnt" valign="middle">
				<strong>180 (200) мл</strong><br />
				<br />
				230+15 г/м<sup>2</sup></td>
			<td align="center" class="fgts" valign="middle">
				<table class="dstlmn" width="100%">
					<tbody>
						<tr>
							<td style="text-align: center;">
								<img src="http://www.giprint.ru/images/uploads/180-1.png" style="float: left;" width="70px" /></td>
							<td width="150px">
								Тираж 5 000<br />
								Цена за 1 шт. 4,8<br />
								Цена за тираж - 24 000<br />
								<input class="btnsdfh calc_order" type="button" value="Заказать" data-tab="540" data-format="180 (200) мл 230+15" data-quantity="5000 шт." data-price="4.8"/></td>
						</tr>
						<tr>
							<td align="center" class="smlfnt" colspan="2" valign="top">
								Полноцветная офсетная печать на пищевом картоне 15 мкр, промышленная пищевая ламинация</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td align="center" class="fgts" valign="middle">
				<table class="dstlmn" width="100%">
					<tbody>
						<tr>
							<td>
								<img src="http://www.giprint.ru/images/uploads/180-2.png" width="70px" /></td>
							<td>
								Тираж 5 000<br />
								Цена за 1 шт. 3,0<br />
								Цена за тираж - 15 000<br />
								<input class="btnsdfh calc_order" type="button" value="Заказать"  data-tab="541" data-format="180 (200) мл 230+15" data-quantity="5000 шт." data-price="3.0"/></td>
						</tr>
						<tr>
							<td align="center" class="smlfnt" colspan="2" valign="top">
								<span class="smldjf">Полноцветная офсетная печать на пищевом картоне 15 мкр, промышленная пищевая ламинация</span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="sstb">
			<td align="center" class="fgts smlfnt" valign="middle">
				<strong>250 мл</strong><br />
				<br />
				280+15 г/м<sup>2</sup></td>
			<td align="center" class="fgts" valign="middle">
				<table class="dstlmn" width="100%">
					<tbody>
						<tr>
							<td style="text-align: center;">
								<img height="82" src="http://www.giprint.ru/images/uploads/250-1.png" style="float: left;" width="100" /></td>
							<td width="150px">
								Тираж 5 000<br />
								Цена за 1 шт. 5,4<br />
								Цена за тираж - 27 000<br />
								<input class="btnsdfh calc_order" type="button" value="Заказать"  data-tab="540" data-format="250 мл 280+15" data-quantity="5000 шт." data-price="5.4"/></td>
						</tr>
						<tr>
							<td align="center" class="smlfnt" colspan="2" valign="top">
								Полноцветная офсетная печать на пищевом картоне 15 мкр, промышленная пищевая ламинация</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td align="center" class="fgts" valign="middle">
				<table class="dstlmn" width="100%">
					<tbody>
						<tr>
							<td>
								<img src="http://www.giprint.ru/images/uploads/250-2.png" width="70px" /></td>
							<td>
								Тираж 5 000<br />
								Цена за 1 шт. 3,5<br />
								Цена за тираж - 17 500<br />
								<input class="btnsdfh calc_order" type="button" value="Заказать" data-tab="541" data-format="250 мл 280+15" data-quantity="5000 шт." data-price="3.5"/></td>
						</tr>
						<tr>
							<td align="center" class="smlfnt" colspan="2" valign="top">
								<span class="smldjf">Полноцветная офсетная печать на пищевом картоне 15 мкр, промышленная пищевая ламинация</span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="sstb">
			<td align="center" class="fgts smlfnt" valign="middle">
				<strong>350 мл</strong><br />
				<br />
				280+15 г/м<sup>2</sup></td>
			<td align="center" class="fgts" valign="middle">
				<table class="dstlmn" width="100%">
					<tbody>
						<tr>
							<td style="text-align: center;">
								<img src="http://www.giprint.ru/images/uploads/350-1.png" style="float: left;" width="70px" /></td>
							<td width="150px">
								Тираж 5 000<br />
								Цена за 1 шт. 6,0<br />
								Цена за тираж - 30 000<br />
								<input class="btnsdfh calc_order" type="button" value="Заказать" data-tab="540" data-format="350 мл 280+15" data-quantity="5000 шт." data-price="6.0"/></td>
						</tr>
						<tr>
							<td align="center" class="smlfnt" colspan="2" valign="top">
								Полноцветная офсетная печать на пищевом картоне 15 мкр, промышленная пищевая ламинация</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td align="center" class="fgts" valign="middle">
				<table class="dstlmn" width="100%">
					<tbody>
						<tr>
							<td>
								<img src="http://www.giprint.ru/images/uploads/350-2.png" width="70px" /></td>
							<td>
								Тираж 5 000<br />
								Цена за 1 шт. 4,0<br />
								Цена за тираж - 20 000<br />
								<input class="btnsdfh calc_order" type="button" value="Заказать" data-tab="541" data-format="350 мл 280+15" data-quantity="5000 шт." data-price="4.0"/></td>
						</tr>
						<tr>
							<td align="center" class="smlfnt" colspan="2" valign="top">
								<span class="smldjf">Полноцветная офсетная печать на пищевом картоне 15 мкр, промышленная пищевая ламинация</span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr class="sstb">
			<td align="center" class="fgts smlfnt" valign="middle">
				<strong>400 мл</strong><br />
				<br />
				280+15 г/м<sup>2</sup></td>
			<td align="center" class="fgts" valign="middle">
				<table class="dstlmn" width="100%">
					<tbody>
						<tr>
							<td style="text-align: center;">
								<img src="http://www.giprint.ru/images/uploads/400-1.png" style="float: left;" width="70px" /></td>
							<td width="150px">
								Тираж 5 000<br />
								Цена за 1 шт. 7,0<br />
								Цена за тираж - 35 000<br />
								<input class="btnsdfh calc_order" type="button" value="Заказать" data-tab="540" data-format="400 мл 280+15" data-quantity="5000 шт." data-price="7.0"/></td>
						</tr>
						<tr>
							<td align="center" class="smlfnt" colspan="2" valign="top">
								Полноцветная офсетная печать на пищевом картоне 15 мкр, промышленная пищевая ламинация</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td align="center" class="fgts" valign="middle">
				<table class="dstlmn" width="100%">
					<tbody>
						<tr>
							<td>
								<img src="http://www.giprint.ru/images/uploads/400-2.png" width="70px" /></td>
							<td>
								Тираж 5 000<br />
								Цена за 1 шт. 5,0<br />
								Цена за тираж - 25 000<br />
								<input class="btnsdfh calc_order" type="button" value="Заказать" data-tab="541" data-format="400 мл 280+15" data-quantity="5000 шт." data-price="5.0"/></td>
						</tr>
						<tr>
							<td align="center" class="smlfnt" colspan="2" valign="top">
								<span class="smldjf">Полноцветная офсетная печать на пищевом картоне 15 мкр, промышленная пищевая ламинация</span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<br />
<h2 style="text-align: justify;">
	Коротко об изготовлении бумажных стаканов</h2>
<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width: 80px;">
				<img alt="" src="http://www.giprint.ru/images/uploads/09.png" style="width: 70px; height: 70px; float: left;" /></td>
			<td style="width: 10px;">
				&nbsp;</td>
			<td style="width: 530px;">
				<h3 style="text-align: justify;">
					Что?</h3>
			</td>
		</tr>
		<tr>
			<td align="center" valign="middle" width="80px">
				&nbsp;</td>
			<td align="center" valign="middle" width="10px">
				&nbsp;</td>
			<td style="width: 530px; text-align: left; vertical-align: top;">
				<p>
					Бумажные стаканы оптом. <span style="color:#3366ff;"><strong>Изготовим за 10 (десять) рабочих дней!</strong></span></p>
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width: 80px;">
				<img alt="" src="http://www.giprint.ru/images/uploads/100.png" style="width: 70px; height: 70px;" /></td>
			<td style="width: 10px;">
				&nbsp;</td>
			<td style="width:530px;">
				<h3 style="text-align: justify;">
					Сколько стоит?</h3>
			</td>
		</tr>
		<tr>
			<td style="width:80px;">
				<p>
					&nbsp;</p>
			</td>
			<td style="width:10px;">
				&nbsp;</td>
			<td style="width: 530px; text-align: left; vertical-align: top;">
				<p>
					<span style="color:#3366ff;"><strong>Цена</strong></span>: <em>27 000 руб. за 5000 шт. (объём: 250 мл)</em>. <strong>Супер-цена</strong> в Москве! Детальная информация по ценам на бумажные стаканчики – см. таблицу чуть ниже.</p>
				<p>
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width: 80px;">
				<img alt="" src="http://www.giprint.ru/images/uploads/1123.png" style="width: 70px; height: 70px;" /></td>
			<td style="width: 10px;">
				&nbsp;</td>
			<td style="width:530px;">
				<h3 style="text-align: justify;">
					Каковы преимущества?</h3>
			</td>
		</tr>
		<tr>
			<td style="width:80px;">
				&nbsp;</td>
			<td style="width:10px;">
				&nbsp;</td>
			<td style="width: 530px; text-align: left; vertical-align: top;">
				<ol>
					<li style="text-align: justify;">
						15 лет опыта.</li>
					<li style="text-align: justify;">
						Своё производство.</li>
					<li style="text-align: justify;">
						<strong>Каждый заказ на стаканы – под личным контролем ген. директора!</strong></li>
				</ol>
			</td>
		</tr>
		<tr>
			<td style="width: 80px;">
				<img alt="" src="http://www.giprint.ru/images/uploads/212121.png" style="width: 70px; height: 70px;" /></td>
			<td style="width: 10px;">
				&nbsp;</td>
			<td style="width:530px;">
				<h3 style="text-align: justify;">
					Каковы детали по заказу?</h3>
			</td>
		</tr>
		<tr>
			<td style="width:80px;">
				<p>
					&nbsp;</p>
			</td>
			<td style="width:10px;">
				&nbsp;</td>
			<td style="width: 530px; text-align: left; vertical-align: top;">
				<p style="text-align: justify;">
					<span style="color:#3366ff;"><strong>Минимальная партия</strong></span>: <em>5 000 шт</em>.</p>
				<p style="text-align: justify;">
					<span style="color:#3366ff;"><strong>Срок изготовления</strong></span>: <em>10 дней!</em></p>
				<p style="text-align: justify;">
					<span style="color:#3366ff;"><strong>Объёмы</strong></span>: <em>100 мл, 180 мл, 250 мл, 350 мл, 400 мл</em>.</p>
				<p style="text-align: justify;">
					&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width: 80px;">
				<img alt="" src="http://www.giprint.ru/images/uploads/1321.png" style="width: 70px; height: 70px;" /></td>
			<td style="width: 10px;">
				&nbsp;</td>
			<td style="width:530px;">
				<h3 style="text-align: justify;">
					Что еще можем предложить?</h3>
			</td>
		</tr>
		<tr>
			<td style="width:80px;">
				<p>
					&nbsp;</p>
			</td>
			<td style="width:10px;">
				&nbsp;</td>
			<td style="width: 530px; text-align: left; vertical-align: top;">
				<ol>
					<li style="text-align: justify;">
						<u>Печатаем бумажные стаканы с вашим логотипом</u> – <em>от 2.4 руб./шт. </em>(За 10 дней, на собственном оборудовании).</li>
					<li style="text-align: justify;">
						Также <u>можно купить просто белые одноразовые бумажные стаканчики</u> для кофе, чая, напитков – <em>от 2.4 руб./шт</em>.</li>
				</ol>
			</td>
		</tr>
		<tr>
			<td style="width: 80px;">
				&nbsp;<img alt="" src="http://www.giprint.ru/images/uploads/14414.png" style="width: 70px; height: 70px;" /></td>
			<td style="width: 10px;">
				&nbsp;</td>
			<td style="width:530px;">
				<h3 style="text-align: justify;">
					Кто будет производить?</h3>
			</td>
		</tr>
		<tr>
			<td style="width:80px;">
				<p>
					&nbsp;</p>
			</td>
			<td style="width:10px;">
				&nbsp;</td>
			<td style="width: 530px; text-align: left; vertical-align: top;">
				<p style="text-align: justify;">
					ООО «Центральная типография». 15 лет на рынке полиграфии. Контактная информация: +7 (495) 505-50-47, пн-пт 9:30-20:00, метро «Маяковская», Москва.</p>
			</td>
		</tr>
	</tbody>
</table>
<p>
	&nbsp;</p>
<table border="1" cellpadding="1" cellspacing="1" height="128" style="background: rgb(153, 204, 255) none repeat scroll 0% 0%;" width="620">
	<tbody>
		<tr>
			<td>
				<p>
					Ознакомьтесь, пожалуйста, с таблицей цен.</p>
				<p>
					<strong>Или не тратьте время – и сразу звоните нам!</strong> <strong><span style="color:#3366ff;">Тел.</span></strong>: <strong>+7 (495) 505-50-47</strong>.</p>
				<p>
					<strong>У Вас есть готовые требования по заказу? Перешлите их на</strong> <span style="color:#3366ff;"><strong>e-mail</strong></span>: <strong>info@giprint.ru</strong>.</p>
				<p>
					(Ответ будет в течение часа).</p>
			</td>
		</tr>
	</tbody>
</table>
